
.header {
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: url(img/headerbg.jpg) repeat left;
    height: 75px;
    z-index: 1000;
    -moz-box-shadow: 0px 0px 8px #dcdcdc;
    -webkit-box-shadow: 0px 0px 8px #dcdcdc;
    
}
.header .logo { 
    height: 72px;
    background: url(img/logo.png) no-repeat left center;
}
.form-login {
    width: 400px;
    height: 300px;
    border: 1px solid #dcdcdc;
    text-align: left;
    background:#fff url(img/lock.png) no-repeat left center;
    margin: 50px auto 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.form-header {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
    text-align: left;
    height: 40px;
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    background: url(img/headerbg.jpg) repeat left center;
    -moz-border-radius-topleft: 4px; 
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px; 
    -webkit-border-top-right-radius: 4px;
}
.form-detail {
    margin: 30px 5px 0 140px;
}